<%- include('partials/header') %>
        <h2 style="text-align: center; padding-top: 18px;"><i class="fas fa-rocket"></i> BRL Mission Control v2</i>
        </h2>
        <!-- table -->
        <div style="padding-top: 18px; text-align: center; max-width: 1660px ; margin: 0 auto">
            <div style="display:block; text-align: left;">
                <a class="badge badge-dark" href="/updateEmailTemplate" style="font-size: medium;">Update Email
                    Template</a>
                <a class="badge badge-dark" href="/previewEmailTemplate" style="font-size: medium;">Email template
                    preview</a>
            </div>
            <br>

            <!-- ----- -->

            <div class="row" style="text-align: center; margin: 4px">
                <% registrations.forEach(element=> { %>

                    <div class="card m-1" style="max-width: 420px; min-width: 400px; display: inline-block;">
                        <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                        <div class="card-body">
                            <br>
                            <h5 class="card-title"><%= element.team_name %> </h5> 
                            <br>
                            <form action="/update" method="post"  >

                                <div class="form-group">
                                    <label for="_id" style="text-align: left; display:block">id</label>
                                    <input class="form-control" id="_id" name="_id" type="text" value="<%= element._id %>">
                                </div>

                                <div class="form-group">
                                    <label for="team_name" style="text-align: left; display:block">Team Name</label>
                                    <input class="form-control" id="team_name" name="team_name" type="text" value="<%= element.team_name %>">
                                </div>

                                <div class="form-group">
                                    <label for="year" style="text-align: left; display:block">Year</label>
                                    <input class="form-control" id="year" name="year" type="text" value="<%= element.year %>">
                                </div>

                                <div class="form-group">
                                    <label for="team_leader_name" style="text-align: left; display:block">Leader Name</label>
                                    <input class="form-control" id="team_leader_name" name="team_leader_name" type="text" value="<%= element.team_leader_name %>">
                                </div>

                                <div class="form-group">
                                    <label for="leader_email" style="text-align: left; display:block">Leader Email</label>
                                    <input class="form-control" id="leader_email" name="leader_email" type="email" value="<%= element.leader_email %>">
                                </div>

                                <div class="form-group">
                                    <label for="leader_roll_number" style="text-align: left; display:block">Leader Roll Number</label>
                                    <input class="form-control" id="leader_roll_number" name="leader_roll_number" type="text" value="<%= element.leader_roll_number %>">
                                </div>

                                <div class="form-group">
                                    <label for="leader_phoneNumber" style="text-align: left; display:block">Leader Phone Number</label>
                                    <input class="form-control" id="leader_phoneNumber" name="leader_phoneNumber" type="text" value="<%= element.leader_phoneNumber %>">
                                </div>

                                <div class="form-group">
                                    <label for="team_member_name" style="text-align: left; display:block">Team Member Name</label>
                                    <input class="form-control" id="team_member_name" name="team_member_name" type="text" value="<%= element.member_1_name %>">
                                </div>

                                <div class="form-group">
                                    <label for="member_1_roll_number" style="text-align: left; display:block">Team Member Roll Number</label>
                                    <input class="form-control" id="member_1_roll_number" name="member_1_roll_number" type="text" value="<%= element.member_1_roll_number %>">
                                </div>

                                <div class="form-group">
                                    <label for="member_1_phoneNumber" style="text-align: left; display:block">Team Member phoneNumber</label>
                                    <input class="form-control" id="member_1_phoneNumber" name="member_1_phoneNumber" type="text" value="<%= element.member_1_phoneNumber %>">
                                </div>
                                
                                <div class="form-group">
                                    <button class="btn btn-danger" type="submit" formaction="/delete"><i class="fas fa-trash"></i></button>
                                    <button class="btn btn-dark" type="submit">Update</button>
                                    <% if (element.Status=="Verified" ) { %>
                                        <button class="btn btn-success" type="submit" formaction="/sendMail">Resend Mail</button>
                                    <% } else { %>
                                            <button class="btn btn-primary" type="submit" formaction="/verify">Verify & send mail</button>
                                    <% } %>
                                </div>

                            </form>
                        </div>
                    </div>

                    <%});%>
            </div>


        </div>

        <%- include('partials/footer') %>